<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>form create</h1>
<a href="/admin-city/index">danh sach thanh pho</a>

<form  th:object="${city}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>image</td>
            <td><input type="file" th:field="*{imageFile}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="tao moi"></td>
        </tr>
    </table>
</form>
</body>
</html>