<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create city</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>
<body>
<h1>form create</h1>
<a href="/cities">danh sach thanh pho</a>

<form th:action="@{/cities/create-city}" th:object="${city}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>image</td>
            <td><input type="file" th:field="*{imageFile}"></td>
        </tr>
    </table>
    <input type="submit" value="tao moi">
</form>
</body>
</html>