<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list city</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
<a href="/city/create-city">tao moi thanh pho</a>
<table id="ListCity">
    <tr>
        <td>name</td>
        <td>description</td>
        <td>image</td>
        <td>delete</td>
        <td>edit</td>
    </tr>
    <th:block th:each="c: ${cities}">
        <tr>
            <td th:text="${c.name}"></td>
            <td th:text="${c.description}"></td>
            <td><img width="200px" height="200px" th:src="@{'/'+${c.image}}" alt="failure"></td>
            <td><a class="deleteCity" th:href="@{/city/delete-city/__${c.id}__}">delete</a></td>
            <td ><a th:href="@{/city/edit-city/__${c.id}__}">Edit</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>