<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create hotel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>

<h1>Create hotel</h1>
<a th:href="@{/hoteldetails}">List hotel Detail</a>
<form th:action="@{/hoteldetails/create-hoteldetail}" th:object="${hoteldetail}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea style="width: 200px; height: 100px;" th:field="*{description}"></textarea></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
    <td><input type="submit" value="Create"></td>

</form>
</body>
</html>