<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>EDit hotel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>
<body>
<a th:href="@{/hoteldetails}">List hotel</a>
<form th:action="@{/hoteldetails/edit-hoteldetail}" th:object="${hoteldetail}" method="post" >
    <input type="text" hidden="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="number" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
    <td><input type="submit" value="Update"></td>

</form>
</body>
</html>