<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index hotel</title>
</head>
<body>
<h1>Index hotel</h1>
<a th:href="@{/hoteldetails/create-hoteldetail}">Create hotel</a>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${hoteldetails}">
        <td th:text="${c.name}"></td>
        <td th:text="${c.quantity}"></td>
        <td ><a th:href="@{/hoteldetails/edit-hoteldetail/__${c.id}__}">Edit</a></td>
        <td ><a th:href="@{/hoteldetails/delete-hoteldetail/__${c.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>