<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create hotel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>

<h1>Create hotel</h1>
<a th:href="@{/hotels}">List hotel</a>
<!--th:action="@{/create-hotel}"-->
<form th:action="@{/hotels/create-hotel}" th:object="${hotel}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" th:field="*{imageFile}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea style="width: 200px; height: 100px;" th:field="*{description}"></textarea></td>
        </tr>
        <tr>
            <td>Evaluation</td>
            <td><input type="number" th:field="*{evaluation}"></td>
            <td th:if="${#fields.hasErrors('evaluation')}" th:errors="*{evaluation}">Evaluation Error</td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
    <td><input type="submit" value="Create"></td>

</form>
</body>
</html>