<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/test1.css}">
</head>
<body>
<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/hotels/create-hotel}">Create room</a></p>
<!-- Product Set -->
<div class="ProductSet ProductSet--grid">

    <!-- Product Card: vertical -->
    <div th:each="hotel : ${hotels}">
        <a href="#" class="ProductCard ProductCard--grid">
            <div class="ProductCard__img-wrapper">
                <img th:src="@{'/'+${hotel.image}}" alt="ERROR" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title" th:text="${hotel.name}"></h4>
                        <h5 class="ProductCard__price" th:text="${hotel.address}"></h5>
                        <h5 class="ProductCard__price" th:text="${hotel.city.name}"></h5>
                        <h5 class="ProductCard__price" th:text="${hotel.hotelDetails.name}"></h5>
                    </div>

                    <!--                    <button class="IconBtn">-->
                    <!--                        <svg class="Icon Icon&#45;&#45;medium Icon&#45;&#45;colored">-->
                    <!--                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>-->
                    <!--                        </svg>-->
                    <!--                    </button>-->
                </div>

                <p class="ProductCard__description" >
                <h5 th:text="${hotel.description}"></h5>
                </p>
                <p sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/hotels/edit-room/__${hotel.id}__}">Edit</a>
                </p>
                <p sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/hotels/delete-room/__${hotel.id}__}">Delete</a></p>
            </div>
        </a>
    </div>

</div>
<!-- END: Product Set -->
</body>
</html>