<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List hotel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>
<body>
<h1>Index hotel</h1>
<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/hotels/create-hotel}">Create hotel</a></p>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Image</td>
        <td>Description</td>
        <td>Evaluation</td>
        <td>Hotel Detail</td>
        <td>City</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel : ${hotels}">
        <td th:text="${hotel.name}"></td>
        <td th:text="${hotel.address}"></td>
        <td><img width="200px" height="150px" th:src="@{'/'+${hotel.image}}" alt="Error"></td>
        <td th:text="${hotel.description}"></td>
        <td th:text="${hotel.evaluation}"></td>
        <td th:text="${hotel.hotelDetails.name}"></td>
        <td th:text="${hotel.city.name}"></td>
        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/hotels/edit-hotel/__${hotel.id}__}">Edit</a></td>
        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/hotels/delete-hotel/__${hotel.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>