<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create hotel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>

<h1>Create hotel</h1>
<a th:href="@{/bookings}">List hotel Detail</a>
<form th:action="@{/bookings/create-booking}" th:object="${booking}" method="post">
    <table>
        <tr>
            <td>City</td>
            <td>
                <select name="city">
                    <option th:each="city: ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Hotel</td>
            <td>
                <select name="hotel">
                    <option th:each="hotel: ${hotels}" th:value="${hotel.id}" th:text="${hotel.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Room</td>
            <td>
                <select name="room">
                    <option th:each="room: ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Checkin date</td>
            <td><input type="date" th:field="*{checkinDate}"></td>
        </tr>
        <tr>
            <td>Checkout date</td>
            <td><input type="date" th:field="*{checkoutDate}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea style="width: 200px; height: 100px;" th:field="*{note}"></textarea></td>
        </tr>
    </table>
    <td><input type="submit" value="Create"></td>

</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#showCity').submit(function (event) {
            let city =$('#city').val();
            let json = { "city" : city}
            $.ajax({
                //Quy định kiểu cho request và respond
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(json),
                url: "/smartphones/createnewPhone",
                success: function () {

                }
            });
        });
    });
</script>
</body>
</html>