<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index hotel</title>
</head>
<body>
<h1>Index booking</h1>
<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/bookings/create-booking}">Create Room booking</a></p>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>City</td>
        <td>Hotel</td>
        <td>Room</td>
        <td>Booking date</td>
        <td>Checkin Date</td>
        <td>Checkout Date</td>
        <td>Note</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookings}">
        <td th:text="${book.user.name}"></td>
        <td th:text="${book.room.hotel.city.name}"></td>
        <td th:text="${book.room.hotel.name}"></td>
        <td th:text="${book.room.name}"></td>
        <td th:text="${book.bookingDate}"></td>
        <td th:text="${book.checkinDate}"></td>
        <td th:text="${book.checkoutDate}"></td>
        <td th:text="${book.note}"></td>
        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/booking/edit-roombooking/__${book.id}__}">Edit</a></td>
        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/booking/delete-roombooking/__${book.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>