<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/test1.css}">
</head>
<body>
<p sec:authorize="hasRole('ADMIN')"><a th:href="@{/rooms/create-room}">Create room</a></p>
<!-- Product Set -->
<div class="ProductSet ProductSet--grid">

    <!-- Product Card: vertical -->
    <div th:each="room : ${rooms}">
        <a href="#" class="ProductCard ProductCard--grid">
            <div class="ProductCard__img-wrapper">
                <img th:src="@{'/'+${room.image}}" alt="ERROR" class="ProductCard__img">
            </div>

            <div class="ProductCard__details">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title" th:text="${room.name}"></h4>
                        <h5 class="ProductCard__price" th:text="${room.price}"></h5>
                        <h5 class="ProductCard__price" th:text="${room.hotel.name}"></h5>
                        <h5 class="ProductCard__price" th:text="${room.roomDetails.name}"></h5>
                    </div>

<!--                    <button class="IconBtn">-->
<!--                        <svg class="Icon Icon&#45;&#45;medium Icon&#45;&#45;colored">-->
<!--                            <use xlink:href="./src/img/icons/svg-sprite.svg#heart"></use>-->
<!--                        </svg>-->
<!--                    </button>-->
                </div>

                <p class="ProductCard__description" >
                    <h5 th:text="${room.description}"></h5>
                </p>
                <p sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/rooms/edit-room/__${room.id}__}">Edit</a>
                </p>
                <p sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/rooms/delete-room/__${room.id}__}">Delete</a></p>
            </div>
        </a>
    </div>

</div>
<!-- END: Product Set -->
</body>
</html>