<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <link rel="stylesheet" href="/styles/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <link rel="stylesheet" href="/styles/css/info.css">
</head>
<body>


<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <strong>Hotel</strong>
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<header>
    <!-- Header Start -->
    <div class="header-area header-sticky">
        <div class="main-header ">
            <div class="container">
                <div class="row align-items-center">
                    <!-- logo -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="index.html"><img src="/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <!-- main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#" th:href="@{/home}">
                                            <i class="fa fa-home"></i>
                                            Home
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li><a href="#" th:href="@{/about}">About</a></li>

                                    <li><a href="#" th:href="@{/services}">Service</a>
                                        <ul class="submenu">
                                            <li><a th:href="@{/rooms}">Rooms</a></li>
                                            <li><a th:href="@{/hotels}">Hotel</a></li>
                                            <li><a th:href="@{/cities}">City</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#" th:href="@{/blogs}">Blog</a>
                                        <ul class="submenu">
                                            <li><a th:href="@{/blogs}">Blog</a></li>
                                            <li><a th:href="@{/single-blog}">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li sec:authorize="isAuthenticated()"><a href="#">Profile</a>
                                        <ul class="submenu">
                                            <li><a th:href="@{/users/edit-user/__${user.id}__}">My profile</a>
                                            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/users}">User list</a>
                                            <li><a th:href="@{/users/edit-user/__${user.id}__}">Setting</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" th:href="@{/contacts}">Contact</a></li>
                                    <li class="nav-item" sec:authorize="isAnonymous()">
                                        <a class="nav-link" th:href="@{/login}">
                                            <i class="fa fa-sign-in-alt"></i>
                                            Login
                                        </a>
                                    </li>
                                    <li class="nav-item" sec:authorize="isAnonymous() or hasRole('ADMIN')">
                                        <a class="nav-link " th:href="@{/users/create-user}" style="text-decoration: none">
                                            <i class="fa fa-registered"></i>
                                            Register
                                        </a>
                                    </li>
                                    <li class="nav-item" sec:authorize="isAuthenticated()">
                                        <a class="nav-link" href="#" th:href="@{/logout}">
                                            <i class="fa fa-sign-out-alt"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <!-- header-btn -->
                        <div class="header-btn">
                            <a href="#" th:href="@{/bookings/create-booking}" class="btn btn1 d-none d-lg-block ">Book Online</a>
                        </div>
                    </div>

                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<main role="main">
    <article class="card-60 social">
        <figure>
            <a class="ribbon-buy popular" href="#" title="Popular">
                Hot
            </a>
            <img th:src="@{/__${room.get().image}__}" alt="Room">
            <a style="font-size: 30px" class="button " href="#">Book now</a>
        </figure>
        <!-- end figure-->
        <div class="flex-content">
            <header>
                <p class="user">
                    <a class="button follow" href="#" title="Follow">
                        More
                    </a>
                    <img class="avatar-32" th:src="@{room.get().hotel.image}" alt="Hotel">
                    <strong>
                        <a title="Full Name" href="#">
                            <span th:text="${room.get().hotel.name}"></span>
                        </a>
                    </strong>
<!--                    <span>8 mins ago &middot; Barcelona</span>-->
                </p>
            </header>
            <h2>
                <span th:text="${room.get().name}"></span>
            </h2>
            <p th:text="${room.get().description}"></p>
            <footer>
                <p>
                    <a class="bt-love" title="Love" href="#">
                        Love
                    </a>
                    <a class="bt-comment" title="Comment" href="#">
                        Comment
                    </a>
                </p>
            </footer>
        </div>
        <!-- end .flex-content-->
    </article>
    <p>Photos by <a th:href="@{/hotels/view-hotel/__${room.get().hotel.id}__}" th:text="${room.get().hotel.name}"></a>.</p>
</main>

<footer>
    <!-- Footer Start-->
    <div class="footer-area black-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-30">
                        <!-- logo -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
                        </div>
                        <div class="footer-social footer-social2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                        <div class="footer-pera">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://kira.com" target="_blank">Kira</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-30">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">About Mariana</a></li>
                                <li><a href="#">Our Best Rooms</a></li>
                                <li><a href="#">Our Photo Gellary</a></li>
                                <li><a href="#">Pool Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                    <div class="single-footer-caption mb-30">
                        <div class="footer-tittle">
                            <h4>Reservations</h4>
                            <ul>
                                <li><a href="#">Tel: (+)84 967 838 708</a></li>
                                <li><a href="#">Skype: Kira</a></li>
                                <li><a href="#">datdhvinh@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                    <div class="single-footer-caption mb-30">
                        <div class="footer-tittle">
                            <h4>Our Location</h4>
                            <ul>
                                <li><a href="#">No. 23, TT-01 MonCity Urban Area, Ham Nghi Street</a></li>
                                <li><a href="#">My Dinh 1, Nam Tu Liem, Hanoi</a></li>
                            </ul>
                            <!-- Form -->
                            <div class="footer-form" >
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                          method="get" class="subscribe_form relative mail_part">
                                        <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                               class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = ' Email Address '">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm"><img src="/assets/img/logo/form-iocn.jpg" alt=""></button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>


<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>

<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<!-- Date Picker -->
<script src="/assets/js/gijgo.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/assets/js/jquery.scrollUp.min.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>


</body>
</html>