<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/styles/css/test/info.css">
</head>
<body>
<main role="main">
    <article class="card-60 social">
        <figure>
            <a class="ribbon-buy popular" href="#" title="Popular">
                Hot
            </a>
            <img src="https://source.unsplash.com/ZFQh_gS5TJc/800x600" alt="La Sagrada Familia">
        </figure>
        <!-- end figure-->
        <div class="flex-content">
            <header>
                <p class="user">
                    <a class="button follow" href="#" title="Follow">
                        Follow
                    </a>
                    <img class="avatar-32" src="http://jlantunez.com/imgs/avatar.jpg" alt="Avatar">
                    <strong>
                        <a title="Full Name" href="#">
                            username
                        </a>
                    </strong>
                    <span>8 mins ago &middot; Barcelona</span>
                </p>
            </header>
            <h2>
                Sagrada Familia .card-60
            </h2>
            <p>
                Figure 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la Sagrada Família is variously likened to Spanish Late Gothic, Catalan Modernism and to Art Nouveau or Catalan Noucentisme.
            </p>
            <footer>
                <p>
                    <a class="bt-love" title="Love" href="#">
                        Love
                    </a>
                    <a class="bt-comment" title="Comment" href="#">
                        Comment
                    </a>
                </p>
            </footer>
        </div>
        <!-- end .flex-content-->
    </article>
    <article class="card-50">
        <figure>
            <a href="" title="Buy">
      <span class="ribbon-buy">
			-20%
		</span>
                <img src="https://source.unsplash.com/GgEtIbD0hVo/800x600" alt="Nike Shoes">
            </a>
        </figure>
        <!-- end figure-->
        <div class="flex-content">
            <h2>
                Nike RedPlus .card50 odd even
            </h2>
            <p class="user">
                <a class="button" href="#" title="Buy">
                    Buy $90
                </a>
                <img class="avatar-32" src="http://jlantunez.com/imgs/avatar.jpg" alt="Avatar">
                <strong>
                    <a title="Full Name" href="#">
                        username
                    </a>
                </strong>
                <span>16 mins ago &middot; Nike</span>
            </p>
            <ul>
                <li>
                    <strong title="Type">Type:</strong>
                    Soccer
                </li>
                <li><strong title="availability">Color:</strong> Red/Orange/Black/Blue</li>
                <li><strong title="Shipping">Shipping:</strong> Free</li>
            </ul>
            <p>
                Built for the ultimate playmaker, textured Flyknit fabric enables precise ball control.
                Dynamic Fit collar fits over the ankle
                for a seamless, sock-like feel. Conical stud pattern delivers 360
                degrees of rotational traction.

            </p>
            <footer>
                <p>
                    <a class="bt-love" title="Love" href="">
                        Love
                    </a>
                    <a class="bt-share" title="Share" href="#">
                        Share
                    </a>
                    <a class="bt-comment" title="Comment" href="">
                        Comment
                    </a>
                </p>
            </footer>
        </div>
        <!-- end .flex-content-->
    </article>
    <article class="card-50">
        <figure>
            <a href="" title="Buy">
      <span class="ribbon-buy">
			-20%
		</span>

            </a>

            <img src="https://source.unsplash.com/XPvhzVIeETM/800x600" alt="Tapas">
        </figure>
        <!-- end figure-->
        <div class="flex-content">
            <h2>
                Tapas Deluxe .card50 odd even
            </h2>
            <p class="subinfo">
                <a class="button" href="#" title="Book a table">
                    Book a table
                </a>
                <a class="location" title="Location" href="">
                    Cromwell Rd, London SW7 5BD.
                </a>

            </p>
            <ul>
                <li>
                    <strong title="Type">Type:</strong>
                    Spanish
                </li>
                <li><strong title="Rating">Rating:</strong> 8/10</li>
                <li><strong title="Price">Price:</strong> $30 and under</li>
            </ul>
            <p>
                Tapas are a wide variety of appetizers, or snacks, in Spanish cuisine. They may be cold (such as mixed olives and cheese) or hot (such as chopitos, which are battered, fried baby squid). In select bars in Spain, tapas have evolved into an entire, sophisticated cuisine.

            </p>


        </div>
        <!-- end .flex-content-->
    </article>
    <article class="card-40 social">
        <figure>
            <a class="ribbon-buy popular" href="#" title="Popular">
                Hot
            </a>
            <a href="/news/international/japan"><img src="https://source.unsplash.com/2TlAsvhqiL0/800x600" alt="Woman waiting metro"></a>
        </figure>
        <!-- end figure-->
        <div class="flex-content">
            <header>
                <p class="user">
                    <a class="button" href="#" title="Share">
                        Share
                    </a>
                    <img class="avatar-32" src="http://jlantunez.com/imgs/avatar.jpg" alt="Avatar">
                    <strong>
                        <a title="Full Name" href="#">
                            username
                        </a>
                    </strong>
                    <span><a href="" title="Permalink">8 mins ago</a> &middot; <a href="" title="258 comments">258 comments</a></span>
                </p>
            </header>
            <a href=""><h2>
                The Tokyo Mistery .card-40
            </h2>
                <p>
                    Excerpt. 2-3 lines recommended. Police are investigating the theft of hundreds of straps used by standing passengers on the Tokyo Metro system, it's been reported. Tokyo Metro Co. is providing a free smartphone application to help foreigners navigate the capital's subway system.
                </p></a>
        </div>
        <!-- end .flex-content-->
    </article>
    <article class="card-60 social">
        <figure>
            <a class="ribbon-buy popular" href="#" title="Popular">
                Hot
            </a>
            <img src="https://source.unsplash.com/yvx7LSZSzeo/800x600" alt="Woman playing guitar">
        </figure>
        <!-- end figure-->
        <div class="flex-content">
            <header>
                <p class="user">
                    <a class="button followed" href="#">
                        Followed
                    </a>
                    <img class="avatar-32" src="http://jlantunez.com/imgs/avatar.jpg" alt="Avatar">
                    <strong>
                        <a title="Full Name" href="#">
                            username
                        </a>
                    </strong>
                    <span>32 mins ago &middot; London</span>
                </p>
            </header>
            <h2>
                Card-60 Fender Stratocaster
            </h2>
            <p>
                2-3 lines recommended. The culture within an organization is an essential part for success. The Fender Stratocaster is a model of electric guitar designed in 1954 by Leo Fender, Bill Carson, George Fullerton, and Freddie Tavares.
            </p>
            <footer>
                <p>
                    <a class="bt-love" title="Love" href="#">
                        Love
                    </a>

                    <a class="bt-comment" title="Comment" href="#">
                        Comment
                    </a>
                </p>
            </footer>
        </div>
        <!-- end .flex-content-->
    </article>
    <p>Photos: <a href="https://source.unsplash.com/">Unsplash</a>.</p>
</main>
</body>
</html>