<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form create</title>
</head>
<body>
<h1>form create</h1>
<form th:object="${appuser}" method="post">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{username}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="checkbox" th:field="*{gender}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="tao moi"></td>
        </tr>
    </table>
</form>
</body>
</html>