<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/css/test/info.css">
</head>
<body>
<main role="main">
    <article class="card-60 social">
        <figure>
            <a class="ribbon-buy popular" href="#" title="Popular">
                Hot
            </a>
            <img th:src="@{'/'+${user.image}}" alt="La Sagrada Familia">
        </figure>
        <!-- end figure-->
        <div class="flex-content">
            <header>
                <p class="user">
<!--                    <a class="button follow" href="#" title="Follow">-->
<!--                        Follow-->
<!--                    </a>-->
<!--                    <img class="avatar-32" src="http://jlantunez.com/imgs/avatar.jpg" alt="Avatar">-->
                    <strong>
                        <a title="Full Name" href="#">
                            <span th:text="${user.name}"></span>
                        </a>
                    </strong>
<!--                    <span>8 mins ago &middot; Barcelona</span>-->
                </p>
            </header>
            <h2>
<!--                <span th:text="${room.hotel.name}"></span>-->
            </h2>
            <p>
                <span th:text="${user.description}"></span>
<!--                Figure 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la Sagrada Família is variously likened to Spanish Late Gothic, Catalan Modernism and to Art Nouveau or Catalan Noucentisme.-->
            </p>
            <footer>
                <p>
                    <a class="bt-love" title="Love" href="#">
                        Love
                    </a>
                    <a class="bt-comment" title="Comment" href="#">
                        Comment
                    </a>
                </p>
            </footer>
        </div>
        <!-- end .flex-content-->
    </article>
    <p>Photos: <a href="https://source.unsplash.com/">Unsplash</a>.</p>
</main>
</body>
</html>