<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index user</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>
<body>
<h1>Index hotel</h1>

<th:block th:if="${messages}">
    <p style="color: blue" th:text="${messages}"></p>
</th:block>

<a th:href="@{/users/create-user}">Create user</a>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Gender</td>
        <td>Username</td>
        <td>Password</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td ><a th:href="@{/users/edit-user/__${user.id}__}">Edit</a></td>
        <td ><a th:href="@{/users/delete-user/__${user.id}__}">Delete</a></td>
    </tr>
    </tbody>
</table>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/}">Home</a> | <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>